.section {
  position: relative;
  display: flex;
  flex-direction: column;
  &-container {
    position: relative;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
    @media @md {
      padding: 2vh 8.3vw;
    }
    @media @xs {
      padding: 1.5vh 6.3vw;
    }
  }
  &-column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    max-width: 50%;
  }
}
.trs {
  transition: 0.3s ease-in-out;
}
.br(@val) {
  border-radius: @val;
}
.button {
  text-decoration: none;
  cursor: pointer;
  display: block;
  border: none;
  padding: 10px 15px;
  background: #f23f3f;
  color: #fff;
  font-size: 1.125em;
  .br(10px);
  @media @lg {
    font-size: 1em;
  }
}
.input {
  display: block;
  border-radius: 6px;
  padding: 10px 15px;
  border: 1px solid @gray;
  outline: none;
  margin-top: 0.5em;
}
.form-item {
  margin-top: 10px;
  margin-left: 10px;
  height: fit-content;
}
.slug {
  cursor: not-allowed;
}
.text-eclipse {
  display: -webkit-box !important;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical !important;
  text-overflow: ellipsis !important;
}